<button ng-click="onRescanLocation()">Back</button>
<h1>{{locationName}}</h1>
<h3>Order</h3>
<ul>
	<li ng-repeat="item in items track by $index">{{item.name}} {{item.price}} EUR<button ng-show="orderStatus == 0" ng-click="onRemoveItem($index)">Remove</button></li>
</ul>
<div>
	Total: {{orderTotal}} EUR
</div>
<div>
	Status: {{orderStatus}}
</div>
<div ng-show="orderStatus > 0">
	Order ID: {{orderId}}
</div>
<div ng-show="orderTotal > 0">
	<button ng-show="orderStatus == 0" ng-click="onClearOrder()">Clear</button>&nbsp;<button ng-show="orderStatus == 0" ng-click="onSubmitOrder()">Submit</button>
</div>

<h3>Menu</h3>
<ul>
	<li ng-repeat="item in menu">
		{{item.name}} {{item.price}} EUR <button ng-show="orderStatus == 0" ng-click="onAddItem($index)">Add</button>
	</li>
</ul>

